rebaseMergeAllowed: true
squashMergeAllowed: true
mergeCommitAllowed: false
branchProtectionRules:
- pattern: main
  isAdminEnforced: true
  requiredStatusCheckContexts:
    - 'PHP 8.1 Unit Test'
    - 'PHP 8.1 Unit Test protobuf,grpc'
    - 'PHP 8.1 Unit Test --prefer-lowest'
    - 'PHP 8.2 Unit Test'
    - 'PHP 8.3 Unit Test'
    - 'PHP 8.4 Unit Test'
    - 'PHP 8.4 Unit Test protobuf,grpc'
    - 'Run google-cloud-php tests'
    - 'PHP Style Check / PHP Code Standards'
    - 'PHPStan Static Analysis / PHPStan Static Analysis'
    - 'cla/google'
  requiredApprovingReviewCount: 1
  requiresCodeOwnerReviews: true
  requiresStrictStatusChecks: true
permissionRules:
  - team: cloud-sdk-platform-team
    permission: admin
  - team: cloud-sdk-php-team
    permission: push
