rebaseMergeAllowed: true
squashMergeAllowed: true
mergeCommitAllowed: false
branchProtectionRules:
- pattern: main
  isAdminEnforced: true
  requiredStatusCheckContexts:
    - 'PHP 5.6 Unit Test'
    - 'PHP 5.6 Unit Test protobuf-3.12.2,grpc'
    - 'PHP 7.0 Unit Test'
    - 'PHP 7.1 Unit Test'
    - 'PHP 7.2 Unit Test'
    - 'PHP 7.3 Unit Test'
    - 'PHP 7.3 Unit Test protobuf-3.12.2,grpc'
    - 'Composer Conflict Test'
    - 'PHP Style Check'
    - 'cla/google'
  requiredApprovingReviewCount: 1
  requiresCodeOwnerReviews: true
  requiresStrictStatusChecks: true
permissionRules:
  - team: actools
    permission: admin
  - team: yoshi-php
    permission: push
  - team: actools-php
    permission: push
