language: php
php:
  - '5.5.38'
  - '5.6'
sudo: required
dist: trusty
install:
  - php /usr/local/php5/lib/php/peclcmd.php install grpc
  - composer install
script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml
  - vendor/bin/phpcs -l --standard=PSR2 src/
after_success:
  - bash <(curl -s https://codecov.io/bash)
