<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true">
  <testsuites>
    <testsuite>
      <directory>src/ApiCore/Tests/Unit</directory>
      <directory>src/LongRunning/Tests/Unit</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
