name: Test Suite
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: [ 7.4, "8.0", 8.1, 8.2 ]
                extensions: [""]
                tools: [""]
                include:
                  - php: "7.4"
                    extensions: "protobuf,grpc-1.49.0"
                    tools: "pecl"
                  - php: 8.2
                    extensions: "protobuf,grpc-1.49.0"
                    tools: "pecl"
        name: "PHP ${{ matrix.php }} Unit Test ${{ matrix.extensions }}"
        steps:
            - uses: actions/checkout@v3
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}
                tools: ${{ matrix.tools }}
                extensions: bcmath,${{ matrix.extensions }}
            - name: Install composer dependencies
              uses: nick-invision/retry@v2
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer install
            - name: Run script
              env:
                GOOGLE_APPLICATION_CREDENTIALS: ${{github.workspace}}/tests/Tests/Unit/testdata/json-key-file.json
              run: vendor/bin/phpunit

    style:
        runs-on: ubuntu-latest
        name: PHP Style Check
        steps:
            - uses: actions/checkout@v3
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: 7.4
            - name: Install Dependencies
              uses: nick-invision/retry@v2
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer install
            - name: Run Script
              run: vendor/bin/phpcs -s --standard=./ruleset.xml

    staticanalysis:
      runs-on: ubuntu-latest
      name: PHPStan Static Analysis
      steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
      - name: Run Script
        run: |
          composer install
          composer global require phpstan/phpstan
          ~/.composer/vendor/bin/phpstan analyse
