name: Test Suite
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: [ "8.0", "8.1", "8.2", "8.3" ]
                extensions: [""]
                tools: [""]
                composerflags: [""]
                include:
                  - php: "8.0"
                    extensions: "protobuf,grpc"
                    tools: "pecl"
                  - php: "8.3"
                    extensions: "protobuf,grpc"
                    tools: "pecl"
                  - php: "8.0"
                    composerflags: "--prefer-lowest"
        name: "PHP ${{ matrix.php }} Unit Test ${{ matrix.extensions }}${{ matrix.composerflags }}"
        steps:
            - uses: actions/checkout@v4
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: ${{ matrix.php }}
                tools: ${{ matrix.tools }}
                extensions: bcmath,${{ matrix.extensions }}
            - name: Install composer dependencies
              uses: nick-invision/retry@v3
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer update ${{ matrix.composerflags }}
            - name: Run script
              run: vendor/bin/phpunit

    style:
        runs-on: ubuntu-latest
        name: PHP Style Check
        steps:
            - uses: actions/checkout@v4
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: "8.2"
            - name: Install Dependencies
              uses: nick-invision/retry@v3
              with:
                timeout_minutes: 10
                max_attempts: 3
                command: composer install
            - name: Run Script
              run: vendor/bin/phpcs -s --standard=./ruleset.xml

    staticanalysis:
      runs-on: ubuntu-latest
      name: PHPStan Static Analysis
      steps:
      - uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - name: Run Script
        run: |
          composer install
          composer global require phpstan/phpstan
          ~/.composer/vendor/bin/phpstan analyse
